<div>
  <h1>Posting Portway Documents to Slack</h1>

  <p>To use this app, add a webhook to your Portway project and point it here: <a id="hookUrl" href="/api/v1/document/published">here</a></p>
</div>

<script type="text/javascript">
  window.addEventListener('load', () => {
    const hookUrl = document.getElementById('hookUrl')
    hookUrl.text = `${hookUrl.href}`
  })
</script>